@using Theater.Application.Modules.GenreModule.Queries

@model IEnumerable<GenreRequestDto>
@{
    ViewData["Title"] = "Genres Index";
}

<div class="page-body">
    <div class="card">
        <div class="card-header">
            <h5>Genres List</h5>
            <span>Manage your genres</span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="operation">
                                <a class="btn btn-sm btn-success" asp-action="Create">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td class="operation">
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger" data-entity-name="@item.Name" asp-action="Remove" asp-route-id="@item.Id" onclick="confirmRemoveEntity(event)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section addjs {
    <script>
        function confirmRemoveEntity(e) {
            e.preventDefault();
            let element = e.currentTarget;
            let name = $(element).data('entity-name');

            if (confirm(`Are you sure you want to delete "${name}"?`)) {
                removeEntity(element);
            }
        }

        function removeEntity(element) {
            $(element).attr('disabled', 'disabled');

            const link = $(element).attr('href');

            $.ajax({
                url: link,
                type: 'POST',
                success: function (response) {
                    alert(`${name} deleted successfully`);
                    location.reload(); // Refresh the page to reflect the deletion
                },
                error: function (errResponse) {
                    console.log(errResponse);
                    alert('An error occurred while deleting the item.');
                }
            }).always(function () {
                $(element).removeAttr('disabled').trigger('blur');
            });
        }
    </script>
}
