$background-color: #ffffff;

$primary-color: #fa434b;
$secondary-color: #fbfbfb;

$primary-text-color: #282828;
$secondary-text-color: #818181;
$dark-background-text-color: #c7c7c7;
$light-background-text-color: #86837f;

$date-color: #c4c4c4;

$font-stack: Arial, sans-serif;

$border-radius: 30px;

$tablet-width: 1067px;
$mobile-width: 707px;
