@model Theater.Application.Modules.AccountModule.Commands.ForgetPasswordCommand.ForgetPasswordRequest

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Forgot Password</h2>
                </div>
                <div class="card-body">
                    @if (ViewBag.ForgotPasswordSuccess != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.ForgotPasswordSuccess
                        </div>
                    }
                    <form asp-action="ForgotPassword" novalidate method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
