@model Theater.Application.Modules.AccountModule.Commands.ResetPasswordCommand.ResetPasswordRequest

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Reset Password</h2>
                </div>
                <div class="card-body">
                    <form asp-action="ResetPassword" novalidate method="post">
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="Email" />
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
