@model IEnumerable<Theater.Application.Modules.ShowDateModule.Queries.ShowDateDto>

@{
    ViewBag.Title = "Show Dates";
}

<h2>Show Dates</h2>

@{
    var groupedShowDates = Model.GroupBy(sd => sd.PosterTitle);
}

@foreach (var group in groupedShowDates)
{
    <h3>@group.Key</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Hall Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var showDate in group)
            {
                <tr>
                    <td>@showDate.Date.ToString("dd MMM yyyy HH:mm")</td>
                    <td>@showDate.HallName</td>
                    <td>
                        <a href="@Url.Action("Details", "ShowDate", new { id = showDate.Id })" class="btn btn-primary">Details</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
