@model Theater.Application.Modules.ShowDateModule.Queries.TicketDto

@{
    ViewBag.Title = "Upsert Ticket";
}

<div class="container">
    <div class="justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Upsert Ticket</h2>
                </div>
                <div class="card-body">
                    <p>
                        <strong>Poster Title:</strong> @ViewBag.PosterTitle <br>
                        <strong>Show Date:</strong> @ViewBag.ShowDate <br>
                        <strong>Seat:</strong> @ViewBag.SeatDetails
                    </p>
                    <form asp-action="UpsertTicket" method="post" id="ticketForm">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" id="priceInput" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                            <span id="priceError" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="ShowDateId" />
                        <input type="hidden" asp-for="SeatId" />
                        <div class="d-flex mt-3">
                            <button type="submit" class="btn btn-primary mr-0.5">Save</button>
                            <a class="btn btn-secondary ml-2" href="javascript:history.back()">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section addjs {
    <script>
        document.getElementById("ticketForm").addEventListener("submit", function (event) {
            var priceInput = document.getElementById("priceInput");
            var priceError = document.getElementById("priceError");

            if (priceInput.value === "" || parseFloat(priceInput.value) <= 0) {
                event.preventDefault();
                priceError.textContent = "The price must be greater than zero and cannot be empty.";
            } else {
                priceError.textContent = "";
            }
        });
    </script>
}
