@{
    ViewData["Title"] = "Rules of Conduct";
    ViewBag.BodyId = "Rules-of-Conduct";

}

<section class="rules">
    <div class="container">
        <div class="rules__title">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/assets/media/icons/arrow.svg" alt="" style="transform: scaleX(-1)" />
            </a>
            <h1>Rules of Conduct</h1>
        </div>
        <div class="rules__content">
            <h2>General Conduct</h2>
            <ul>
                <li>Respect others at all times.</li>
                <li>Refrain from using offensive language.</li>
                <li>Maintain a safe and clean environment.</li>
            </ul>

            <h2>During Performances</h2>
            <ul>
                <li>Arrive on time to avoid disruptions.</li>
                <li>Turn off or silence mobile devices.</li>
                <li>Do not talk or make noise during the performance.</li>
                <li>No flash photography or video recording.</li>
            </ul>

            <h2>Food and Beverages</h2>
            <ul>
                <li>Consumption of food and beverages is allowed only in designated areas.</li>
                <li>Do not bring outside food and drinks into the theater.</li>
            </ul>

            <h2>Emergency Procedures</h2>
            <ul>
                <li>Follow the instructions of the theater staff during emergencies.</li>
                <li>Locate the nearest exit upon entering the theater.</li>
                <li>Do not block aisles or exits.</li>
            </ul>

            <h2>Ticket Policies</h2>
            <ul>
                <li>All sales are final; no refunds or exchanges.</li>
                <li>Keep your ticket with you at all times.</li>
                <li>Present your ticket upon request by theater staff.</li>
            </ul>
        </div>
    </div>
</section>

